<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div
  class="flex flex-wrap items-center pt-2 divide-y divide-black sm:divide-none bg-yellow-300 py-2"
>
  <h1 class="flex sm:w-1/4 w-full pl-2 text-2xl text-center sm:text-left">
    <span class="text-3xl text-red-600 mx-1">
      <fa-icon [icon]="faAngular"></fa-icon></span
    >Cook
  </h1>
  <div class="sm:w-2/3 w-full flex justify-center sm:justify-start">
    <a class="{{ classRecetas }}" routerLink="/">Recetas</a>
    <a class="{{ classIngredientes }}" routerLink="/ingredientes"
      >Ingredientes</a
    >
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
