<!--
  <div className="container mx-auto">
  <div className="my-3 flex justify-center flex-wrap">
    {platos.map((x, i) => {
      return (
        <div
          key={`r-${i}-x.title`}
          className="w-4/5 md:w-1/3 sm:w-1/2 mb-2"
        >
          <div className="m-1 bg-white h-full border-2 border-gray-400 border-opacity-60 rounded-lg overflow-hidden">
            <div className="flex justify-center my-1">
              {x.thumbnail && x.thumbnail.includes('http') ? (
                <img
                  className=" flex justify-center lg:h-48 md:h-40 sm:h-40 h-48 rounded-md"
                  src={x.thumbnail}
                  alt="blog"
                />
              ) : (
                <div className="lg:h-48 md:h-36 w-full flex justify-center items-center">
                  <span>
                    <svg
                      className="lg:h-48 md:h-36 w-full"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        strokeLinecap="round"
                        strokeLinejoin="round"
                        strokeWidth="2"
                        d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                      ></path>
                      <path
                        strokeLinecap="round"
                        strokeLinejoin="round"
                        strokeWidth="2"
                        d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                      ></path>
                    </svg>
                  </span>
                </div>
              )}
            </div>
            <div className="p-6">
              <h2 className="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
                Receta
              </h2>
              <h1 className="title-font text-lg font-medium text-gray-900 mb-3">
                {x.title}
              </h1>
              <h2 className="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
                Ingredientes
              </h2>
              <p className="leading-relaxed mb-3">{x.ingredients}</p>
              <div className="flex items-center flex-wrap">
                <a
                  href={x.href}
                  target="_blank"
                  className="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
                >
                  Enlace
                </a>
              </div>
            </div>
          </div>
        </div>
      );
    })}
  </div>
</div>
-->
