<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="flex flex-wrap justify-center items-end"
>
  <div class="mx-5 sm:px-0 py-2 sm:w-2/4 md:w-2/4 lg:w-2/5 w-full">
    <label html-for="search" class="leading-8 text-sm text-gray-700">
      Recetas
    </label>
    <input
      formControlName="search"
      type="text"
      id="search"
      name="search"
      class="px-2 w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1"
    />
    <div *ngIf="f.search.touched && f.search.invalid" class="text-red-600">
      <div *ngIf="f.search.errors.required">search is required.</div>
      <div *ngIf="f.search.errors.minlength">search should be 3 character.</div>
    </div>
  </div>
  <div class="px-5 sm:px p-2 sm:w-1/3 w-full">
    <div>
      <button
        class="py-1 px-2 text-base rounded-md bg-blue-300 hover:bg-blue-400"
      >
        Buscar
      </button>
    </div>
  </div>
</form>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
