<div class="flex flex-col min-h-screen bg-gray-200">
  <div class="sticky top-0 bg-white w-full">
    <app-header></app-header>
  </div>
  <main class="container mx-auto flex-grow">
    <app-title title="Recetas"></app-title>
    <app-recetasForm></app-recetasForm>
  </main>
  <app-footer></app-footer>
</div>
